.lorussoland-paragraph {
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    color: rgb(251, 251, 251);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-color: black;
}

.header-box {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    background-color: rgb(80, 255, 71);
    margin-left: .5%;
    margin-right: .5%;
    margin-top: 1%;
    padding: 30px;
    border-radius: 30px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: rgb(80, 255, 71);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    color: black;
    font-family: monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}


.boxes-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -100px 0 20px 0;
}

.back-home {
    background-color: rgb(80, 255, 71);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    transform-origin: top bottom;
}

.back-home:hover {
    transform: scale(0.9);
}


.box:hover {
    transform: scale(1.1, 1.1);
}

.lorussoarmy {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    transform-origin: top center;
    width: 250px;
    gap: 60px;
    height: 250px;
}

.lorussoland-image:hover {
    transform: scaleY(0.7);
    transform-origin: bottom center;
    transition: all 0.3s ease-in-out;
}