body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-color: #7a7a7a;
    width: calc(100% - 150px);
}

header,
footer {
    margin-left: 150px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    padding-left: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.intro {
    padding: 20px;
    background-color: #f4f4f4;
    margin: 20px;
    margin-bottom: 60px;
    height: fit-content;
}

.project-container {
    flex-grow: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: flex;
    width: calc(100%-150px);
    margin-bottom: 10px;
    background-color: #333;
    padding-block: 10px;

}

.project {
    background-color: #b3b3b3;
    width: calc(100% / 2 - 20px);
    height: 300px;
    margin: 10px;
    text-align: center;
    min-width: 200px;
}

.project:hover {
    background-color: #c5c5c5;
    transition: 0.5s;
    width: calc(100% / 2 - 10px);
    height: 310px;
    margin: auto;

}

.sidebar {
    position: fixed;
    background-color: #4d4d4d;
    width: 150px;
    height: 100%;
    color: white;
}

.sidebar:hover {
    transition: 0.5s;
    background-color: #424242;
}


footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

.page-layout {
    padding-left: 150px;
}