body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-color: #7a7a7a;
    width: calc(100% - 150px);
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    padding-left: 169px;
    max-width: calc(100% - 19px);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.head-p {
    padding: 10px;
}

.intro-box {
    height: max-content;
    width: calc(100%-150px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #797979;
}

.intro {
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4;
    height: fit-content;
    width: calc(50%-160px);
}

.project-container {
    flex-grow: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: flex;
    width: calc(100%-160px);
    margin-bottom: 10px;
    background-color: #333;
    padding-block: 10px;

}

.toolbox {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2b2b2b;
    width: 150px;
    height: 80%;

}

.links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #7a7a7a;

}

a {
    width: 110px;
    color: #ffffff;
    background-color: #393939;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    outline: #333;
}

a:hover {
    transition: 0.2s;
    background-color: #4a4a4a;
    padding: 11px;
    margin: 4px;
}

.project {
    background-color: #b3b3b3;
    width: calc(100% / 2 - 20px);
    height: 300px;
    margin: 10px;
    text-align: center;
    min-width: 200px;
}

.project:hover {
    background-color: #c5c5c5;
    transition: 0.2s;
    width: calc(100% / 2 - 10px);
    height: 310px;
    margin: auto;

}

.sidebar {
    position: fixed;
    background-color: #4d4d4d;
    width: 150px;
    height: 100%;
    color: white;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

.page-layout {
    padding-left: 150px;
}

.logo img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 200px;
    padding: 10px;

}

.lorussoland-image img {
    width: calc(100% / 10 - 20px);
    padding: 0.1vw;
}

.lorussoland-image :hover {
    transition: 0.5s;
    padding: 1px;
    width:100%;
}