body {
    font-family: "anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-color: #7a7a7a;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


header,
footer {
    background-color: rgba(30, 30, 30, 0.4);
    color: white;
    padding: 10px 0;
    padding-inline: 10px;
    max-width: calc(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    backdrop-filter: blur(1px);

}

h1 {
    font-family: "Electrolize", sans-serif;
    font-size: 40px;
    margin: 5px;
}

.head-a img {
    width: 30px;
    border-radius: 100%;
}

.head-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    width: 110px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding-inline: 10px;
    margin: 5px;
    text-decoration: none;
}

.head-a:hover {
    transition: 0.2s;
    background-color: rgba(114, 114, 114, 0.7);
    transform: scale(1.05);
}

.project img {
    width: 60%;
    height: 60%;
}

.intro-box {
    height: max-content;
    width: calc(100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.intro {
    padding: 20px;
    margin: 10px;
    background-color: rgba(244, 244, 244, 0.5);
    height: fit-content;
    width: calc(50%);
    height: auto;
    backdrop-filter: blur(2px);
}

.project-container {
    flex-grow: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: calc(100%);
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-block: 10px;

}

.bigbox-container {
    flex-grow: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: calc(100%);
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-block: 10px;

}

.bigbox p {
    font-family: "Electrolize", sans-serif;
    font-size: max(15px, 2vw);
    margin-inline: 15px;

}

.bigbox {
    background-color: rgba(73, 73, 73, 0.6);
    backdrop-filter: blur(2px);
    width: calc(100% - 20vw);
    height: fit-content;
    margin: 10px;
    margin-block: 15px;
    text-align: center;
    color: white;
}

.logo :hover {
    transition: 0.4s;
    transform: scale(1.05);
}

.bigbox img {
    width: calc(100%-40px);
    margin: 10px;
}

.toolbox {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 50%;
    padding-block: 15px;

}

.links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(151, 151, 151, 0.1);

}

.sidebar a {
    width: 110px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.sidebar a:hover {
    transition: 0.2s;
    background-color: rgba(130, 130, 130, 0.7);
    transform: scale(1.1);
}

.project {
    background-color: rgba(65, 65, 65, 0.6);
    backdrop-filter: blur(1px);
    width: calc(100% / 2 - 20px);
    height: 300px;
    margin: 10px;
    text-align: center;
    min-width: 200px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.project:hover {
    background-color: rgba(188, 188, 188, 0.6);
    backdrop-filter: blur(2px);
    transition: 0.3s;
    transform: scale(1.035);
    margin: auto;

}

.sidebar {
    position: fixed;
    background-color: rgba(42, 42, 42, 0.6);
    backdrop-filter: blur(2px);
    width: 150px;
    height: 100%;
    color: white;
}

.page-layout {
    padding-left: 150px;
}

.logo img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
}

.lorussoland-image img {
    width: calc(100% / 10 - 0.1vw);
    padding: 0.2vw;
}

.lorussoland-image :hover {
    transition: 0.4s;
    transform: scale(1.5);

}

.background img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}