html,
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

button {
    background-color: rgb(62, 215, 15);
    color: rgb(193, 255, 206);

    border: 5px solid rgb(36, 145, 0);
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transition: 0.2s;
    background-color: rgb(60, 166, 11);
    color: white;
    border-color: rgb(60, 255, 0);
    scale: 1.05;
}

button:active {
    background-color: rgb(119, 253, 119);
    color: white;
    transition: 0.1s;
    scale: 0.95;
}